<%= javascript_include_tag 'home', 'data-turbolinks-track'=> 'reload' %>

<% #provide(:title, "Home") %>

<div class="all">
  <div class="center jumbotron">
    <%= image_tag("experimental.png", class: :name_icon, alt: "#") %>
  </div>
  <div class="ultimate">
    <div class="row">
      <h7>
        <div class="pedigrees">
          NASA Intern <i class="fa fa-space-shuttle"></i> Computer Scientist <i class="fa fa-space-shuttle"></i> Astronomer<i class="fa fa-space-shuttle"></i> Collegiate Swimmer <i class="fa fa-space-shuttle"></i>Service Dog Handler
        </div>
      </h7>
    </div>

    <!--<%= image_tag("left_arrow.png", class:"arrow-left") %>-->

    <div class="pics">

      <div class="pics-secondary">
        <% @coming.each_with_index do |comes, i| %>
            <div class="panel-on-deck" id="num1_<%=i+1%>">
              <%= image_tag(comes.image_filepath) %>
            </div>
        <% end %>
      </div>


      <% @pictures.each_with_index do |picture, i| %>
          <div class="row picture-panel" id="num2_<%=i+1%>">
            <div class="panel-custom1">
              <%= image_tag(picture.image_filepath) %>
            </div>
          </div>
      <% end %>


      <div class="pics-secondary">
        <% @leaving.each_with_index do |leaves, i| %>
            <div class="panel-just-batted" id="num3_<%=i+1%>">
              <%= image_tag(leaves.image_filepath) %>
            </div>
        <% end %>
      </div>

    </div>

    <!--<%= image_tag("right_arrow.png", class:"arrow-right") %>-->

  </div>
</div>