<%= javascript_include_tag 'old_home', 'data-turbolinks-track'=> 'reload' %>

<% #provide(:title, "Home") %>

<div class="all">
  <div class="center jumbotron">
    <%= image_tag("experimental.png", class: :name_icon, alt: "#") %>
  </div>
  <div class="ultimate">
    <div class="row">
      <h7>
        <div class="pedigrees">
          NASA Intern <i class="fa fa-space-shuttle"></i> Computer Scientist <i class="fa fa-space-shuttle"></i> Astronomer<i class="fa fa-space-shuttle"></i> Collegiate Swimmer <i class="fa fa-space-shuttle"></i>Service Dog Handler
        </div>
      </h7>
    </div>

    <!--<div class="row">-->
      <!--<div class="panel-custom0">-->
        <!--<%= link_to "About Me", about_me_path, class: "btn btn-lg btn-custom3" %>-->
        <!--<%= link_to "Code Portfolio", code_portfolio_path, class: "btn btn-lg btn-custom3" %>-->
        <!--<%= link_to "Resumé", resume_path, class: "btn btn-lg btn-custom3", target: :_blank %>-->
        <!--<%= link_to "Research", research_path, class: "btn btn-lg btn-custom3" %>-->
        <!--<%= link_to "Publications", publications_path, class: "btn btn-lg btn-custom3" %>-->
        <!--<%= link_to "Awards", awards_path, class: "btn btn-lg btn-custom3" %>-->
        <!--<%= link_to "Get in Touch", get_in_touch_path, class: "btn btn-lg btn-custom3" %>-->
      <!--</div>-->
    <!--</div>-->

    <div class="animate">
      <div class="row">
        <div class="col-md-1 scroll1">
          <div class="panel-custom1-old">
            <div class="panel-heading">
              <%= image_tag("me1.jpg", class: :pic_of_me_1, alt: "#") %>
            </div>
          </div>
        </div>

        <div class="col-md-1 scroll2">
          <div class="panel-custom2">
            <div class="panel-heading">
              <%= image_tag("me2.jpg", class: :pic_of_me_2, alt: "#") %>
            </div>
          </div>
        </div>

        <div class="col-md-1 scroll3">
          <div class="panel-custom3">
            <div class="panel-heading">
              <%= image_tag("me3.jpg", class: :pic_of_me_3, alt: "#") %>
            </div>
          </div>
        </div>

        <div class="col-md-1 scroll4">
          <div class="panel-custom4">
            <div class="panel-heading">
              <%= image_tag("me4.jpg", class: :pic_of_me_4, alt: "#") %>
            </div>
          </div>
        </div>

        <div class="col-md-1 scroll5">
          <div class="panel-custom5">
            <div class="panel-heading">
              <%= image_tag("new2.jpg", class: :pic_of_me_6, alt: "#") %>
            </div>
          </div>
        </div>

        <div class="col-md-1 scroll6">
          <div class="panel-custom6">
            <div class="panel-heading">
              <%= image_tag("new4.jpg", class: :pic_of_me_7, alt: "#") %>
            </div>
          </div>
        </div>

      </div>
        <!--<div class="col-md-4">-->
          <!--<div class="panel-custom00">-->
            <!--<div class="panel-text">-->
              <!--<h4>-->
                  <!--Welcome to my website!-->
              <!--</h4>-->
              <!--<p>-->
               <!--&emsp;&emsp; My name is Elijah. I'm currently finishing up school at Amherst College, with an intended double major in Computer Science and Astronomy.-->
              <!--</p>-->
              <!--<p>-->
                <!--&emsp;&emsp;Please take a look around, and be sure to check out my projects, publications, and resume using the buttons above. Feel free to contact me with any questions or concerns at:-->
              <!--</p>-->

              <!--<p>-->
                <!--espiro18@amherst.edu-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
    </div>
  </div>
</div>