<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("facebook_logo.png", class: :facebook_icon, alt: "Facebook"), "https://www.facebook.com/Elijah.Spiro", target: :_blank %>
    <%= link_to image_tag("github_logo.png", class: :github_icon, alt: "GitHub"), "https://github.com/ElijahAndNova", target: :_blank %>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", "home" %></li>
        <li><%= link_to "About Me", "about_me" %></li>
        <li><%= link_to "Code Portfolio", "code_portfolio" %></li>
        <li><%= link_to "Resumé", "resume" %></li>
        <li><%= link_to "Research", "research" %></li>
        <li><%= link_to "Publications", "publications" %></li>
        <li><%= link_to "Awards", "awards" %></li>
        <li><%= link_to "Get in Touch", "get_in_touch" %></li>
      </ul>
    </nav>
  </div>
</header>