<!DOCTYPE html>
<html>
<!--xmlns="http://www.w3.org/1999/xhtml"-->
<!--prefix="og: http://ogp.me/ns#">-->
<head>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-104863911-1', 'auto');
      ga('send', 'pageview');

  </script>


    <%= favicon_link_tag 'favicon.ico' %>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta property="og:image" content="http://www.elijahspiro.com/assets/me6-34b1e28731f051e88f1d34246e30550de536a670a83d348ac2d305df527f0162.jpg">-->
    <!--<meta property="og:url" content="http://www.elijahspiro.com/assets/me6-34b1e28731f051e88f1d34246e30550de536a670a83d348ac2d305df527f0162.jpg">-->
    <!--<meta property="og:description" content="Learn about me and my work.">-->
    <!--<meta property="og:type" content="photo">-->
    </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="particles-json" data-particles="<%= asset_path('particles.json') %>">
      <%= yield %>
      <!--<%= render 'layouts/footer' %>-->
    </div>
  </body>
</html>